In [1]:
import sqlite3
import pymongo
import pandas as pd
import requests
import json

In [3]:
def get_keys(path):
    with open(path) as f:
        return json.load(f)

In [4]:
keys = get_keys("/Users/wvsharber/.secret/darksky_api.json")
api_key = keys['api_key']

In [5]:
def getrain(div, date):
    if div == 'E0':
        coor = (51.5074, -0.1278) #london
    else:
        coor = (52.5200, 13.4050) #berlin
    iso_date_time = f'{date}T12:00:00'
    url_template = "https://api.darksky.net/forecast/{}/{},{},{}?exclude=currently,minutely,hourly,alerts,flags"
    request_url = url_template.format(
                                        api_key,
                                        coor[0], #latitude
                                        coor[1], #longitude
                                        iso_date_time)
    response = requests.get(request_url)
    dictapi = response.json()
    weather = dictapi['daily']['data'][0].get('precipType')
    if weather == 'rain':
        return True
    else:
        return False

In [213]:
def pullmatchdata(season):
    conn = sqlite3.connect("database.sqlite")
    search_home = f"""SELECT HomeTeam AS Team, Season, Date, Div, FTHG AS Goals, FTR,
                      CASE 
                          WHEN FTR == 'H' THEN 'win'
                          WHEN FTR == 'A' THEN 'loss'
                          ELSE 'draw'
                      END result
                      FROM matches
                      WHERE Season = {season} AND (Div = 'D1' OR Div = 'E0')
                      ORDER BY HomeTeam;"""
    dfhome = pd.read_sql_query(search_home, conn)
    search_away = f"""SELECT AwayTeam AS Team, Season, Date, Div, FTAG AS Goals, FTR,
                          CASE 
                          WHEN FTR == 'A' THEN 'win'
                          WHEN FTR == 'H' THEN 'loss'
                          ELSE 'draw'
                      END result
                      FROM matches
                      WHERE Season = {season} AND (Div = 'D1' OR Div = 'E0')
                      ORDER BY AwayTeam;"""
    dfaway = pd.read_sql_query(search_away, conn)
    df = pd.concat([dfhome, dfaway], ignore_index = True)
    
    dfE0 = df[df['Div'] == 'E0']['Date'].unique()
    dfD1 = df[df['Div'] == 'D1']['Date'].unique()
    
    dfE0_new = df[df['Div'] == 'E0']
    dfD1_new = df[df['Div'] == 'D1']

#     #pulling information
    dictE0 = {}
    dictD1 = {}
    test_string = ""
    num = 0
    for each in dfE0:
        if num%2==0:
            dictE0[each] = True #getrain(div = 'E0', date = each)
            num+=1
        else:
            dictE0[each] = False
            num+= 1
    for each in dfD1:
        if num%2==0:
            dictD1[each] = True #getrain(div = 'D1', date = each)
            num+=1
        else:
            dictD1[each] = False
            num+= 1
    
    
    dataE0 ={'Date': list(dictE0.keys()), 'Rain': list(dictE0.values())}
    dataD1 ={'Date': list(dictD1.keys()), 'Rain': list(dictD1.values())}
             
    df_rain_E0 = pd.DataFrame(data = dataE0)
    df_E0 = pd.merge(dfE0_new, df_rain_E0, on ='Date', how = 'left')
    
    df_rain_D1 = pd.DataFrame(data = dataD1)
    df_D1 = pd.merge(dfD1_new, df_rain_D1, on ='Date', how = 'left')
    
    final_df = pd.concat([df_E0, df_D1], ignore_index = True)
    
    return final_df

In [214]:
work_df = pullmatchdata(2010)

In [215]:
work_df

               Team  Season        Date Div  Goals FTR result   Rain
0           Arsenal    2010  2010-08-21  E0      6   H    win   True
1           Arsenal    2010  2010-09-11  E0      4   H    win  False
2           Arsenal    2010  2010-09-25  E0      2   A   loss   True
3           Arsenal    2010  2010-10-16  E0      2   H    win  False
4           Arsenal    2010  2010-10-30  E0      1   H    win   True
5           Arsenal    2010  2010-11-07  E0      0   A   loss  False
6           Arsenal    2010  2010-11-20  E0      2   A   loss   True
7           Arsenal    2010  2010-12-04  E0      2   H    win  False
8           Arsenal    2010  2010-12-27  E0      3   H    win   True
9           Arsenal    2010  2011-01-05  E0      0   D   draw  False
10          Arsenal    2010  2011-01-22  E0      3   H    win   True
11          Arsenal    2010  2011-02-01  E0      2   H    win  False
12          Arsenal    2010  2011-02-12  E0      2   H    win   True
13          Arsenal    2010  2011-02-23  E0      1   H    win  False
14          Arsenal    2010  2011-03-05  E0      0   D   draw   True
15          Arsenal    2010  2011-04-02  E0      0   D   draw  False
16          Arsenal    2010  2011-04-17  E0      1   D   draw   True
17          Arsenal    2010  2011-05-01  E0      1   H    win  False
18          Arsenal    2010  2011-05-15  E0      1   A   loss   True
19      Aston Villa    2010  2010-08-14  E0      3   H    win  False
20      Aston Villa    2010  2010-08-29  E0      1   H    win   True
21      Aston Villa    2010  2010-09-18  E0      1   D   draw  False
22      Aston Villa    2010  2010-10-16  E0      0   D   draw  False
23      Aston Villa    2010  2010-10-31  E0      0   D   draw   True
24      Aston Villa    2010  2010-11-10  E0      3   H    win  False
25      Aston Villa    2010  2010-11-13  E0      2   D   draw   True
26      Aston Villa    2010  2010-11-27  E0      2   A   loss  False
27      Aston Villa    2010  2010-12-11  E0      2   H    win   True
28      Aston Villa    2010  2010-12-26  E0      1   A   loss  False
29      Aston Villa    2010  2011-01-05  E0      0   A   loss  False
...             ...     ...         ...  ..    ...  ..    ...    ...
1342  Werder Bremen    2010  2010-09-21  D1      1   H   loss   True
1343  Werder Bremen    2010  2011-03-06  D1      3   A    win  False
1344  Werder Bremen    2010  2010-12-11  D1      0   H   loss   True
1345  Werder Bremen    2010  2010-10-23  D1      4   A    win  False
1346  Werder Bremen    2010  2011-01-22  D1      0   H   loss   True
1347  Werder Bremen    2010  2011-04-23  D1      3   A    win  False
1348  Werder Bremen    2010  2010-12-04  D1      0   D   draw  False
1349  Werder Bremen    2010  2010-08-21  D1      1   H   loss   True
1350  Werder Bremen    2010  2011-02-05  D1      1   D   draw  False
1351  Werder Bremen    2010  2011-03-19  D1      3   A    win   True
1352  Werder Bremen    2010  2011-02-19  D1      0   H   loss  False
1353  Werder Bremen    2010  2011-05-14  D1      2   H   loss   True
1354  Werder Bremen    2010  2011-04-08  D1      1   D   draw  False
1355      Wolfsburg    2010  2010-08-20  D1      1   H   loss  False
1356      Wolfsburg    2010  2010-10-02  D1      1   D   draw   True
1357      Wolfsburg    2010  2010-11-06  D1      1   H   loss   True
1358      Wolfsburg    2010  2011-01-22  D1      1   A    win   True
1359      Wolfsburg    2010  2011-05-14  D1      3   A    win   True
1360      Wolfsburg    2010  2011-03-20  D1      1   D   draw   True
1361      Wolfsburg    2010  2011-02-05  D1      0   H   loss  False
1362      Wolfsburg    2010  2010-09-22  D1      3   A    win  False
1363      Wolfsburg    2010  2011-03-05  D1      0   H   loss   True
1364      Wolfsburg    2010  2011-02-19  D1      1   H   loss  False
1365      Wolfsburg    2010  2010-09-11  D1      0   H   loss  False
1366      Wolfsburg    2010  2010-12-11  D1      0   D   draw   True
1367      Wolfsburg    2010  2011-04-09  D1      0   H   loss   True
1368      Wolfsburg    2010  2010-11-21  D1      1   D   draw   True
1369      Wolfsburg    2010  2011-04-29  D1      1   A    win  False
1370      Wolfsburg    2010  2010-10-23  D1      1   H   loss  False
1371      Wolfsburg    2010  2010-11-28  D1      1   D   draw   True

[1372 rows x 8 columns]

In [179]:
work_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 8 columns):
Team      1372 non-null object
Season    1372 non-null int64
Date      1372 non-null object
Div       1372 non-null object
Goals     1372 non-null int64
FTR       1372 non-null object
result    1372 non-null object
Rain      1372 non-null bool
dtypes: bool(1), int64(2), object(5)
memory usage: 76.4+ KB

In [231]:
def createrecord(df_test):
    record = pd.DataFrame()
    record['name'] = df_test['Team'].unique()
    df = df_test.set_index('Team')
    df_rain = df[df.Rain == True]
    for name in record:
        record['league'] = record['name'].map(lambda x: list(df.loc[x,'Div'].unique())[0])
    record['total_goals'] = list(df['Goals'].groupby('Team').sum())
    record['total_wins'] = list(df[df['result'] == 'win'].groupby('Team').count()['result'])
    record['rain_wins'] = list(df_rain[df_rain['result'] == 'win'].groupby('Team').count()['result'])
    record['rain_games'] = list(df_rain.groupby('Team').count()['result'])
    record['rain_percentage'] = round(record['rain_wins']/record['rain_games']*100)
    del record['rain_wins'], record['rain_games']
    return record

In [232]:
createrecord(work_df)

              name league  total_goals  total_wins  rain_percentage
0          Arsenal     E0           72          19             41.0
1      Aston Villa     E0           48          12             35.0
2       Birmingham     E0           81          19             63.0
3        Blackburn     E0           37           8             26.0
4        Blackpool     E0           46          11             21.0
5           Bolton     E0           55          10             10.0
6          Chelsea     E0           52          12             47.0
7          Everton     E0           69          21             45.0
8           Fulham     E0           67          23             67.0
9        Liverpool     E0           31           9             25.0
10        Man City     E0           51          13             41.0
11      Man United     E0           47          13             29.0
12       Newcastle     E0           41          13             29.0
13           Stoke     E0           49          11             38.0
14      Sunderland     E0           46          12             50.0
15       Tottenham     E0           49          19             56.0
16       West Brom     E0           50          11             24.0
17        West Ham     E0           48          13             44.0
18           Wigan     E0           64          20             56.0
19          Wolves     E0           59          17             46.0
20   Bayern Munich     D1           48          10             25.0
21        Dortmund     D1           52          18             53.0
22   Ein Frankfurt     D1           60          21             56.0
23         FC Koln     D1           78          23             78.0
24        Freiburg     D1           56          11             20.0
25         Hamburg     D1           47          13             39.0
26        Hannover     D1           38          11             27.0
27      Hoffenheim     D1           35           8             27.0
28  Kaiserslautern     D1           46          13             32.0
29      Leverkusen     D1           60          12             33.0
30      M'gladbach     D1           45          12             36.0
31           Mainz     D1           55          16             57.0
32        Nurnberg     D1           47          10             22.0
33      Schalke 04     D1           56          12             25.0
34        St Pauli     D1           43           7             23.0
35       Stuttgart     D1           40           9             32.0
36   Werder Bremen     D1           43           9             13.0
37       Wolfsburg     D1           46          11             22.0